
.button {
    color: white;              /* Màu chữ */
    padding: 10px 20px;        /* Khoảng cách giữa nội dung và viền */
    margin: 20px;
    border: none;              /* Xóa viền */
    border-radius: 5px;        /* Bo góc */
    font-size: 16px;           /* Kích thước chữ */
    cursor: pointer;           /* Con trỏ hình tay khi di chuột */
    }
    
    .button:hover {
    opacity: 0.2; /* Đổi màu nền khi hover */
    }      
.button-luu{
    background-color: #4CAF50;
}
.button-huy{
    background-color:red;
}
.buttonTable {
    background-color: #4CAF50;
    color: white;              /* Màu chữ */
    padding: 5px 10px;        /* Khoảng cách giữa nội dung và viền */
    margin: 5px;
    border-radius: 5px;        /* Bo góc */
    font-size: 12px;           /* Kích thước chữ */
    cursor: pointer;           /* Con trỏ hình tay khi di chuột */
    }
    
    .buttonTable:hover {
    opacity: 0.5; /* Đổi màu nền khi hover */
    }  

    .buttonTable-xoa{
        background-color: red;
    }
.tieuDe {
    font-size: 24px;           /* Kích thước chữ */
    color: #333;               /* Màu chữ */
    font-weight: bold;         /* Đậm chữ */
    margin: 15px;        /* Khoảng cách bên dưới */
    display: inline-block;     /* Đảm bảo label nằm riêng lẻ */
    }
      